<?xml version="1.0" encoding="utf-8"?>
<!-- Debug/test APK only: allow HTTP WebView origin + temporary VPS API cleartext. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="28" />
</manifest>
